h1{
    
    
}

.blue{ 
    font-size: 14pt;
    font-style: italic;
    color: blueviolet; 
    font-weight:100 ;

}
.red{ 
    font-size: 14pt;
    font-style: italic;
    color: red; 
    font-weight:100 ;

}
